{% assign team_members = shop.metaobjects.legion_employees.values %}

<section class='tw-py-24'>
  <div class='tw-mx-auto tw-max-w-7xl tw-px-4 sm:tw-px-6 lg:tw-px-8'>
    <div class='tw-mb-12'>
      <h2 class='tw-font-manrope tw-text-5xl tw-text-center tw-font-bold tw-text-gray-900'>Our team</h2>
    </div>
    <div class='tw-grid tw-grid-cols-1 min-[500px]:tw-grid-cols-2 md:tw-grid-cols-6 lg:tw-grid-cols-5 tw-gap-8 tw-max-w-xl tw-mx-auto md:tw-max-w-3xl lg:tw-max-w-full'>
      {% for member in team_members %}
        <div class='tw-block tw-group {% if forloop.index <= 2 %}md:tw-col-span-2 lg:tw-col-span-1{% elsif forloop.index == 4 %}md:tw-col-span-2 lg:tw-col-span-1 md:tw-col-start-2 lg:tw-col-start-4{% else %}min-[500px]:tw-col-span-2 tw-mx-auto md:tw-col-span-2 lg:tw-col-span-1{% endif %}'>
          <div class='tw-relative tw-mb-6'>
            <img
              src='{{ member.photo | image_url: width: 500 }}'
              alt='{{ member.name }} image'
              width='500'
              class='tw-w-40 tw-h-40 tw-rounded-full tw-mx-auto tw-transition-all tw-duration-500 tw-object-cover tw-border tw-border-solid tw-border-transparent tw-group-hover:tw-border-indigo-600'
              width='{{ collection.image.width }}'
              height='{{ collection.image.height }}'
            >
          </div>
          <h4 class='tw-text-xl tw-font-semibold tw-text-gray-900 tw-mb-2 tw-capitalize tw-text-center tw-transition-all tw-duration-500 tw-group-hover:tw-text-indigo-600'>
            {{ member.name }}
          </h4>
          <span class='tw-text-gray-500 tw-text-center tw-block tw-transition-all tw-duration-500 tw-group-hover:tw-text-gray-900'>
            {{- member.fields.title -}}
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Meet The Team",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
